<div class="box">
    <div id="title">بيانات البلاغ </div>
    <hr>

    <div id="subTitle">من فضلك, قم بملئ الإستمارة التالية </div>

    <form class="contain needs-validation" id="form"  [formGroup]="reportdataForm" (submit)="formOperation($event)">
    <div class="smallInput">
      <div class="inputandlabel">
        <label class="label" for="country">المدينة</label>
        <app-select  title="المدينة"  name="country"  class="boxselect w-100"></app-select>
       </div>
       <div class="inputandlabel">
        <label class="label" for="branch">الفرع</label>
        <app-select title="الفرع" name="branch"  class="boxselect d-flex flex-column col-sm-4 col-md-3 col-lg w-100"  ></app-select>
      </div>
      <div class="inputandlabel">
        <label class="label" for="Administration">الإدارة</label>
        <app-select  name="Administration" id="Administration"  class="boxselect d-flex flex-column col-sm-4 col-md-3 col-lg w-100"  
        [ngClass]="{ 'is-invalid': getAdministration.invalid && (getAdministration.dirty || getAdministration.touched) }" ></app-select>
        <ng-container *ngIf="getAdministration.invalid && (getAdministration.dirty || getAdministration.touched)">
          <div *ngIf="getAdministration.hasError('required')" class="form-text text-danger">Please enter your email!</div>
      </ng-container>

      </div>
      <div class="inputandlabel">
        <label class="label" for="chanel">القناة المستخدمة لرفع البلاغ</label>
        <!-- <input class="form-control input  col-sm-4 col-md-3 col-lg"  type="text" id="chanel" name="chanel" required formControlName="chanel"/>  -->
        <input  class="form-control input" type="text" id="chanel" name="chanel" required formControlName="chanel" placeholder="اسم القناة">
        <ng-container *ngIf="getchanel.touched">
          <div *ngIf="getchanel.hasError('required')" class="form-text text-danger" >هذا الحقل مطلوب</div>
        </ng-container>
      </div>
    </div>
   
    <div class="input-group">
        <label for="username" class="label">أسماء الأشخاص المشتبه بهم</label>
        <button class="btn button" type="button" id="button-addon1"  (click)="onClick()"><i class="bi bi-plus-lg" style="color: #33835C;"></i></button>
        <input type="text" class="form-control input" [(ngModel)]="username" placeholder="اسم الشخص"  id="username" name="username" (keydown.enter)="onClick()">
      </div>
      <div *ngIf="usernames && usernames.length > 0" class="names">
        <div *ngFor="let user of usernames" class="input-group" style="max-width: max-content;">
          <button class="btn buttonexit" type="button" id="button-addon2" (click)="removeUsername(user)">
            <i class="bi bi-x"></i>
          </button>
          <div class="nameText form-control ">{{ user }} </div>
        </div>
      </div>
      <hr/>

      <div class="smallInput justStart">
        <div class="inputandlabel">
          <label class="label"  for="timeOfViolationWasCommitted">تاريخ إرتكاب المخالفة</label>
          <app-calendar name="timeOfViolationWasCommitted"></app-calendar>
        </div>
        <div class="inputandlabel">
          <label class="label" for="DateOfKnowledgeViolation">تاريخ العلم بالمخالفة</label>
          <app-calendar name="DateOfKnowledgeViolation"></app-calendar>

        </div>
        <div class="inputandlabel">
          <label class="label" for="accidentViolationRegion"> مكان حدوث المخالفة </label>
          <app-calendar name="DateOfKnowledgeViolation"></app-calendar>
        </div>
      </div>
      <hr/>

     
     <app-upload-file> </app-upload-file>
     <hr>

    <div>
      <label for="textarea" class="label">نص البلاغ</label>
       <app-textarea name="textarea" [isIconAppear]="false"></app-textarea>
    </div>
      </form>

</div>

<div class="buttons">
  <button type="submit" class="btn buttonBackFront frontBtn" [disabled]="!reportdataForm.valid" cdkStepperNext><i class="bi bi-arrow-left pe-2 pt-1"></i> التالي</button>
  <button class="btn buttonBackFront backBtn" routerLink="/about"> رجوع <i class="bi bi-arrow-right ps-2 pt-1"></i></button>
</div>





<!-- <input type="text" class="form-control input" placeholder="اسم الشخص" [(ngModel)]="username" id="username" name="username" (keydown.enter)="onClick()"> -->