.table {
    margin-bottom: 0px !important;
    vertical-align: middle;
}
thead {
    color: rgba(0, 0, 0, 0.70);
    text-align: right;
    font-family: Tajawal;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    vertical-align: middle;
}
tbody {
    color: rgba(0, 0, 0, 0.70);
    font-family: Tajawal;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15px;
    /* align-items: center; */
}
table thead tr , table thead tr{
    height: 56px;
    padding: auto;
}
table thead tr th:first-child{
    border-radius: 0px 10px 0px 0px;
}
table thead tr th:last-child{
    border-radius: 10px 0px 0px 0px;
}
.status {
    padding: 8px 10px;
    color: #FFF;
    border-radius: 60px;
    width: 98px;
    font-family: Tajawal;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.orange {
    background: #FF9800;
}
.gray {
    background: #9E9E9E;
}
.green {
    background: #4CAF50;
}
.blue {
    background: #2196F3;
}
.red {
    background: #F44336;
}
.pagination {
    height: 56px; 
    border: none;
    border-radius: 0px 0px 10px 10px ;
}
::ng-deep .p-paginator-element {
    display: flex;
    width: 25px;
    height: 25px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #F9F9F9;
    box-shadow: 0.5px 0.5px 4px 0px rgba(0, 0, 0, 0.10);
    color: #6B6B6B;
    border: none;
    margin: 0px 1px;
    font-family: Tajawal;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
::ng-deep .p-paginator-pages .p-element {
    border: none;
    background: #ffffff !important;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.1) !important;
    color: #6B6B6B;
}

::ng-deep .p-paginator-pages .p-element.active {
    color: #33835C;
    text-align: center;
    font-family: Tajawal;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 2px solid #33835C;
  }

 .active {

        color: #33835C;
        text-align: center;
        font-family: Tajawal;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border:2px solid #33835C;

}
::ng-deep .p-paginator-prev , ::ng-deep .p-paginator-next {
    margin: 0px 14px;
}
::ng-deep .p-paginator-icon {
 display: flex;
 align-items: center;
 justify-content: center;
 /* content: fa-solid fa-angle-right; */
}
::ng-deep .p-paginator-pages {
    display: flex;
    
}

::ng-deep .p-paginator-first , ::ng-deep .p-paginator-last{
    display: none;
}


/* ::ng-deep .p-paginator-pages > button{
    border: 2px solid red !important; 
}

::ng-deep .p-paginator-pages > button.active,
::ng-deep .p-paginator-current.active {
  background-color: #007BFF;
  color: #fff;
  border: 2px solid red ;
} */