body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.51);;
}
#logoImage {
  position: absolute;
  top: 0;
  right: 60px;
}
#homeCard {
    width: 30%;
    height: 70%;
    margin: auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid  rgba(255, 255, 255, 0.30);
    background-color: rgba(109, 94, 94, 0.4);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 148.2%);
}
@media(max-width:1000px){
    #homeCard {
        width: 40%;
    }
}
@media(max-width:720px){
    #homeCard {
        width: 50%;
    }
}
@media(max-width:600px){
    #homeCard {
        width: 70%;
    }
}

#homeText {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Tajawal;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 7px; 
}
.cardd { 
    position: relative;
    border-radius: 10px;
    border: 1px solid #33835C;    
    background: #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #33835C;
    font-family: Tajawal;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    width: 47%;
    height: 46%;
}
.checkicon {
    position: absolute;
    top: 8px;
    left: 8px;
}
@media (max-width: 1000px) {
   .cardd {
    width: 100%;
    height: 19%;
   }
  }
.activecardd {
    border: 2px solid #33835C;
}

.cardds {
    display: flex;
    padding: 22px 0px;
    width:100%;
    gap: 20px 0px;
    height: 60%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.button {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background-color: rgba(81, 81, 81, 0.80);   
  color: #FFF;
  text-align: center;
  font-family: Tajawal;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 13px ;
  width: 100%;
  margin-top: 40px;
  cursor: not-allowed;
}
.activebutton , .button:active:focus {
  cursor: pointer;  
  background: #33835C;
  border: 1px solid #33835C;
  color: #FFF;
}