
  <div class="header"> 
    <span>نوع البلاغ</span>
    <span (click)="closeDialog()"><i class="bi bi-x"></i></span>
  </div>
  <!-- <div class="contain"> -->
  <form class="contain" id="form" [formGroup]="inputForm" (ngSubmit)="saveData($event)">
    <label id="desc" for="textarea">{{title}}</label>
    <textarea
    [class.is-invalid]="inputForm.get('textarea')?.invalid && inputForm.get('textarea')?.touched"
     class="textarea" 
     formControlName="textarea" 
     id="textarea" name="textarea" rows="4" cols="50" 
     placeholder="اكتب هنا" required> </textarea>
     <div *ngIf="inputForm.get('textarea')?.errors?.['required']" class="invalid-feedback"> هذا الحقل مطلوب </div>


<div style="display: flex; justify-content: end !important;">
  <button [disabled]="!inputForm.valid" class="btn button" type="submit" >حفظ</button>
</div>
</form>
<!-- </div> -->

