.contain {
    /* border-radius: 10px; */
    /* background: #F6F6F6; */
    /* width: 100%; */
    /* margin-top: 15px; */
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
}
.label {
    color: #1E1E1E;
    text-align: right;
    font-family: Tajawal;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    margin-bottom: 12px;
  }
  .attach {
    border-radius: 10px;
    border: 1px solid #33835C;
    background: rgba(51, 131, 92, 0.10);
    padding: 12px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #33835C;
    font-family: Tajawal;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: max-content;
  }
  .text {
    color: #414345;
    text-align: right;
    font-family: Tajawal;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 24px;
    /* width: max-content; */
  }
  .border {
    padding: 24px 24px 24px 45px;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    background: #FFF;
  }
  .images {
    display: flex;
    gap: 32px;
    justify-content: start;
    align-items: flex;
    text-align: center;
    flex-wrap: wrap;
  }
  .preview-image {
    width: 137.143px;
    height: 120px;
    border-radius: 10px;
  }
  .preview-file {
    width: max-content;
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid rgba(215, 77, 82, 0.14);
    background: rgba(220, 96, 101, 0.10); 
    color: #D74D52;
    text-align: right;
    font-family: Tajawal;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-wrap: wrap;
  }
  .input {
    display: flex;
    height: 48px;
    padding: 0px 16px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #DBDBDB;
    background: #FFF;
    color: #656565;
    text-align: right;
    font-family: Tajawal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  input[type="file"] {
    display: none;
  }