<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->

    <app-nav></app-nav>
    
    
<!-- <router-outlet></router-outlet> -->
<!-- <app-report-classification></app-report-classification> -->
<div>
<router-outlet></router-outlet>
</div>

<!-- <app-reports></app-reports> -->

<!-- <app-references></app-references> -->
<!-- <app-reference-details></app-reference-details> -->
<!-- </body>
</html> -->