<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
    <li class="breadcrumb-item"><a class="home-link text-nowrap" href="/home" style="text-decoration: none; color:  #212529;"><img src="assets/breadcrumb.svg"/>البلاغات</a></li>
    <li class="breadcrumb-item text-nowrap active" aria-current="page" style="color: #ec960b;">Shop</li>
  </ol>
</nav> -->


<nav  style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb" style="direction: ltr">
    <li class="breadcrumb-item"><a href="#" style="text-decoration: none;">تفاصيل البلاغ</a></li>
    <li class="breadcrumb-item active" aria-current="page">  <img src="assets/breadcrumb.svg" class="ps-1"/> البلاغات</li>
  </ol>
</nav>