
<div class="contain">
  <div class="steppers" >
    <div class="step col-md-5 col-lg" (click)="onClick(i)" *ngFor="let step of steps; let i=index" [ngClass]="{'greenLine': i <= lastStepCompleted , 'active': selectedIndex === i}">
      <div class="stepicon" [ngClass]="{'laststep': i <= lastStepCompleted}">
        <ng-container *ngIf="i <= lastStepCompleted; else stepIcon">
          <i class="bi bi-check-lg"></i>
        </ng-container>
        <ng-template #stepIcon>{{i + 1}}</ng-template>
      </div>
      <div class="stepword" [ngClass]="{'laststepword': i <= lastStepCompleted}">{{step.label}}</div>
    </div>
  </div>

  <div *ngIf="selected">
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
  </div>

</div>






<!-- <mat-horizontal-stepper linear>
    <mat-step label="shipping" [completed]="classificationForm?.form?.valid">
       <ng-content select="[1]"> </ng-content>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="address" completed=true>
      <ng-content select="[2]"> </ng-content>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="order" completed=false>
        <ng-content select="[3]"> </ng-content>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="order" completed=false>
        <ng-content select="[4]"> </ng-content>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>

    
</mat-horizontal-stepper>   -->



