
.steppers{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}
.step {
    display: flex;
    align-items: center;
    justify-content: start;
    counter-reset: step;
    position: relative;
    cursor: pointer;

} 
.stepword {
    font-family: Tajawal;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.step > .stepicon {
    font-family: Tajawal;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid  #ddd;
    display: block;
    text-align: center;
    background-color: #FFF;
    z-index: 1;
}
.stepword {
    background-color: #FFF;
    z-index: 1;
    padding:0px 10px;
}
.step:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 17px;
    border-radius: 1px;
}
.step:last-child:after {
    content: none;
}
.active > div {
    color: #33835C;
}
.active > .stepicon {
    border: 1px solid #33835C;
}
.laststep {
    background-color: #33835C !important;
    color: #FFF;
    line-height: 33px !important;
    z-index: 1;
}
.laststepword {
    color: #33835C !important;
}
.greenLine:after {
    background-color: #33835C;
}







