<div class="contain">

<div class="steppers">
  <div class="step col-sm-4 col-md-3 col-lg" *ngFor="let step of steps; let i=index" (click)="onClick(i)" [class.salma]="selectedIndex === i">
    <div class="stepicon">1</div>
    <div class="stepword">{{step.label}}</div>
    <div class="line"> </div>
  </div>
</div>

  
    <div *ngIf="selected">
      <ng-container [ngTemplateOutlet]="selected.content" ></ng-container>
   </div>
   
  </div>





  <!-- <div class="progress-bar">
    <div class="step"> 
      <p>name</p>
      <div class="bullet">
        <span>1</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>
    <div class="step"> 
      <p>contact</p>
      <div class="bullet">
        <span>2</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>
    <div class="step"> 
      <p>birthday</p>
      <div class="bullet">
        <span>3</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>
    <div class="step"> 
      <p>submit</p>
      <div class="bullet">
        <span>4</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>

  </div> -->




  
  
      <!-- <div class="steppers">
      <div *ngFor="let step of steps; let i=index">
  
            <div 
              (click)="onClick(i)"
              [class.salma]="selectedIndex === i"
              class="boxcard nav-link py-3 text-uppercase fw-bold">
             <div class="stepicon">1</div> 
             <div class="stepword">{{step.label}}</div>
             <div class="line"> </div>
            </div>
  
         </div>
    </div> -->
  
  